{% extends "home/base.html" %}
{% load static %}
{% block content %}

<div class="container_abt">
<h1 class="heading"><span><img src="{% static 'about/img10.gif' %}" alt=""></span>Meet the Team<span><img src="{% static 'about/img10.gif' %}" alt=""></span></h1>

<div class="profiles">
  <div class="profile">
    <img src="{% static 'home/images/BSUians.png' %}" class="profile-img" alt="person1">

    <h3 class="user-name">Maron</h3>
    <h5>Developer</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nam eveniet voluptas. In nemo expedita possimus ab asperiores atque iure!</p>
  </div>

    <div class="profile">
      <img src="{% static 'home/images/BSUians.png' %}" class="profile-img" alt="person2">
  
      <h3 class="user-name">Mary Christine</h3>
      <h5>Team Lead / Designer</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nam eveniet voluptas. In nemo expedita possimus ab asperiores atque iure!</p>
    </div>

      <div class="profile">
        <img src="{% static 'home/images/BSUians.png' %}" class="profile-img" alt="person3">
    
        <h3 class="user-name">Renzo</h3>
        <h5>Developer</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nam eveniet voluptas. In nemo expedita possimus ab asperiores atque iure!</p>
      </div>

</div>

</div>

{% endblock content %}