@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}

.light-theme {

    /**
     * light theme colors 
     */
  
    --background-primary: hsl(0, 0%, 100%);
    --background-secondary: hsl(0, 0%, 97%);
  
    --action-primary: hsl(214, 32%, 91%);
    --action-secondary: hsl(210, 38%, 95%);
  
    --foreground-primary: hsl(218, 23%, 23%);
    --foreground-secondary: hsl(216, 15%, 52%);
    --foreground-tertiary: hsl(214, 20%, 69%);
  
    --accent: hsl(229, 76%, 66%);
  
  }
  
  .dark-theme {
  
    /**
     * dark theme colors 
     */
  
    --background-primary: hsl(218, 23%, 23%);
    --background-secondary: hsl(220, 26%, 14%);
  
    --action-primary: hsl(216, 15%, 52%);
    --action-secondary: hsl(218, 23%, 23%);
  
    --foreground-primary: hsl(210, 38%, 95%);
    --foreground-secondary: hsl(211, 25%, 84%);
    --foreground-tertiary: hsla(214, 20%, 69%, 0.066);
  
    --accent: hsl(229, 76%, 66%);

  
  }

  .main-bg{
    background: var(--background-secondary);
  }

  body .full{
    background: var(--background-secondary);
  }

  .main-bg .profile-container{
    background: var(--background-primary);

  }




html{
    font-size:11px;
}

li{
    list-style:none;
}

a{
    text-decoration: none;
}

h1,h2,h4{
    font-size: 1.9rem;
    color: var(--foreground-primary);
}

p{
    font-size: 1.4rem;
    color: var(--action-primary);
}

/* header{
    width: 100%;
    height:5rem;
    background-color: aliceblue;
    position:fixed;
    top:0;
    z-index:333;
} */

.container{
    width: 96%;
    max-width: 117rem;
    margin: 0 auto;
}

/* .navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1 1.5rem;
} */

/* .navbar h1{
    text-transform: uppercase;
    color:#5b5963;
    font-weight: 600;
    letter-spacing: 2px;
    cursor:pointer;
}

.navbar ul{
    display:flex;
    justify-content: center;
    align-items: center;
}

.navbar ul a{
    font-size: 1.2rem;
    padding: 1.5rem;
    text-transform: uppercase;
    color: #5b5963;
    font-weight: 400;
    letter-spacing: 2px;
    transition: all 0.4s ease;
}

.navbar ul a:hover{
    color: white;
    background-color: #fd735a;
} */

.hero{
    max-width: 114rem;
    height: 45rem;
    /* background:url(../images/blog-1.png) no-repeat center center / cover; */

}

/*dark themes*/

body main{
    width: 100%;
    max-width: 80rem;
    background-color:var(--background-primary);
    margin: 0 auto;
    border-radius: 1.5rem;
    margin-top: -15rem;
    padding: 20px;
}

body h2{
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--foreground-primary);
}

body main .profile-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--foreground-primary);
    margin: 3rem 0;
}

body main .profile-container .profile{
    display:flex;
    justify-content: center;
    align-items:center;
    color: var(--foreground-primary);
}

body .profile-container .profile .img-container{
    width: 6rem;
    height: 6rem;
    color: var(--foreground-primary);
    border-radius: 50%;
}

body .profile-container .profile .text{
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--foreground-secondary);
}

body .profile .text h3{
    text-transform: uppercase;
    color: var(--foreground-primary);
}

body .profile .text p{
    color: var(--foreground-primary);
}




.btn{
    display: inline-block;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 0.3rem 1.5rem;
    background-color: #fd735a;
    border-radius: 0.2rem;
}

body main .content p{
    color: var(--foreground-primary);
    margin: 1rem 0;
}

body main .content h4{
    font-size: 2rem;
    font-weight: 600;
    color: var(--foreground-primary);
    margin: 2rem 0;
}

body main .content .content-img-container{
    width: 90%;
    height: 35rem;
}   

blockquote{
    font-size: 1.4rem;
    padding: 1rem 2.8rem;
    line-height: 1.6;
    font-weight: 300;
    box-shadow: inset 0.5rem 0 0 #fd735a;
    background-color:var(--background-primary);
    color: var(--foreground-secondary);
}


/*light themes*/

body .light-theme main{
    width: 100%;
    max-width: 80rem;
    background-color:var(--background-secondary);
    margin: 0 auto;
    border-radius: 1.5rem;
    margin-top: -15rem;
    padding: 20px;
}

body .light-theme h2{
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--foreground-primary);
}

body .light-theme main .profile-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--foreground-primary);
    margin: 3rem 0;
}

body .light-theme main .profile-container .profile{
    display:flex;
    justify-content: center;
    align-items:center;
    color: var(--foreground-primary);
}

body .light-theme .profile-container .profile .img-container{
    width: 6rem;
    height: 6rem;
    color: var(--foreground-primary);
    border-radius: 50%;
}

body .light-theme .profile-container .profile .text{
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--foreground-primary);
}

body .light-theme .profile .text h3{
    text-transform: uppercase;
    color: var(--foreground-primary);
}



.btn{
    display: inline-block;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 0.3rem 1.5rem;
    background: var(--background-primary);
    color: var(--foreground-primary);
    border-radius: 0.2rem;
    transition: all 0.4s ease;
}


.btn:hover{
    transform: translateY(-1rem);
    transition: all 0.4s ease;
}

body main .content p{
    color: var(--foreground-secondary);
    margin: 1rem 0;
}

body main .content h4{
    font-size: 2rem;
    font-weight: 600;
    color: var(--foreground-primary);
    margin: 2rem 0;
}

body main .content .content-img-container{
    width: 90%;
    height: 35rem;
}   

blockquote{
    font-size: 1.4rem;
    padding: 1rem 2.8rem;
    line-height: 1.6;
    font-weight: 300;
    box-shadow: inset 0.5rem 0 0 #fd735a;
    background-color:var(--background-primary);
    color: var(--foreground-secondary);
}
/*end light themes*/

.tags{
    display: flex;
    align-items:center;
}

.tags p{
    font-size: 1.4rem;
    text-transform:capitalize;
}

.tag a{
    display: inline-block;
    padding: 0.3rem 1.5rem;
    background-color: #f5f5f5;
    color: #5b5963;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
}

.articles{
    width: 100%;
    background-color: var(--background-secondary);
    margin: 5rem 0;
    padding: 5rem 0;
}

.articles .article-heading{
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    position: relative;
}

.article-heading h5{
    font-size: 10rem;
    font-weight: 600;
    letter-spacing: 3px;
    position:relative;
    color: var(--foreground-tertiary);
}

.article-heading h6{
    font-size: 4rem;
    font-weight: 200;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--foreground-primary);
}

.cards{
    display: flex;
    justify-content: space-between;
    margin: 4rem auto;
    gap: 5rem;

}

.cards .card-container{
    cursor: pointer;
    transition: all 0.4s ease;
    
}

.cards .card-container.one img{
    height: 80%;
    width: 100%;
    border-radius: 10px;
}

.cards .card-container .img-holder a{
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 0.3rem 1.5rem;
    display: inline-block;
    color: #429f98;
    font-weight: 400;
    position: absolute;
    transition: all 0.4s ease;
    justify-self: center;
    right:40%;
    top:65%
}

.card-container:hover{
    transform: translateY(-1rem);
}

.cards .card-container:hover a{
    background:var(--background-secondary);
    color: var(--foreground-primary);
}

.cards .cards-container .card-text{
    background-color: var(--background-primary);
    padding: 2rem;
    box-shadow: 0 0 0.3rem grey;
    color:var(--foreground-primary);
}

.cards .cards-container .card-text h4{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.cards .cards-container .card-text h3{
    color:var(--foreground-primary);
}

.cards .card-container .card-text p{
    font-size: 1.2rem;
    color:var(--foreground-primary);
}

.articles .button{
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.articles .btn{
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 200;
    border-radius: none;
    padding: 0.5rem 3rem;
}

footer{
    font-size: 16px;
}

/* .icons{
    text-align: center;
}

.icons .social i{
    font-size: 3rem;
    color: grey;
    padding: 1rem;
    transition: all 0.4 ease;
}

.icons .social i:hover{
    color:white;
    cursor: pointer;
}

.icons .copyright p{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: white;
    margin: 2rem 0;
} */

@media (width <= 900px) {
    .cards {
        display: inline-block;
    }
    .cards .card-container.one{
        height: 60%;
        width: 80%;
        border-radius: 10px;
        margin-top: 40px;
        margin-left:45px;
    }
}









